<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>恭喜注册成功！</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <style>
        .success1{
            margin: 0 auto;
        }

    </style>
</head>
<body>

<div class="success1">
    <div class="jumbotron">

        <h1>注册成功！，点击登录按钮进入登录界面！</h1>
        <p>快来给你的学业做个规划！</p>
        <p>
            <a class="btn btn-primary btn-lg" href="{{ url_for('Login') }}" role="button">进入登录</a>
        </p>
    </div>

</div>
</body>
</html>